@import '../base.scss';

.add-button {
    color: white;
    background-color: $menu-colors;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 50px;

    &:focus {
        outline: none;
    }
}

.input-labels {
    color: $menu-colors;
    font-size: 20px;
}

.modal-title {
    color: $menu-colors;
}
