$menu-colors: #153D52;
$active-menu: #6A9591;
$max-width-tablet: 768px;
$max-with-mobile: 425px;
$menu-width: 60px;

.main-container {
    &.menu-visible {
        margin-left: $menu-width;
    }
}

@-webkit-keyframes sidenavOpen {
    from {left: -70%;}
    to {left: 0;}
}

@keyframes sidenavOpen {
    from {left: -70%;}
    to {left: 0;}
}

@-webkit-keyframes sidenavClose {
    from {left: 0;}
    to {left: -70%;}
}

@keyframes sidenavClose {
    from {left: 0;}
    to {left: -70%;}
}