@import '../base.scss';

.profile-contain {

    .profile-title {
        color: $menu-colors;
        font-size: 2rem;
        font-weight: 700;    
    }

    .profile-image {
        height: 20rem;
        width: 20rem;
        img {
            border-radius: 10rem;
        }
    }

}