@import '../base.scss';

.sidebar {
    display: flex;
    position: fixed;
    background-color: $menu-colors;
    height: 100%;
    top: 0;
    z-index: 12;
    width: $menu-width;
    justify-content: center;
}

.icon-mobile {
    color: white;
    align-self: center;
}

.menu-labels {
    display: none;
}
.active {
    background-color: $active-menu;
}

.navbar-nav {
    .nav-item {
        cursor: pointer;
        a:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: $max-width-tablet) {
    .sidebar {
        width: 70%;
        top: 2.5rem;
        z-index: 10;
        background-color: white;
        border-right: 1px solid $menu-colors;
        border-left: 1px solid $menu-colors;
    }

    .menu-labels {
        display: block;
    }

    .show-menu {
        .sidebar {
            -webkit-animation: sidenavOpen .2s; /* Safari 4.0 - 8.0 */
            animation: sidenavOpen .2s;
        }
    }

    .hide-menu {
        &.enable-sidenav-transition .sidebar {
            -webkit-animation: sidenavClose .1s; /* Safari 4.0 - 8.0 */
            animation: sidenavClose .1s;
        }
        .sidebar {
            left: -70%;
        }
    }

    .icon-mobile {
        color: $menu-colors;
        align-self: center;
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-link {
        color: $menu-colors;
        border-bottom: 1px solid $menu-colors;
    }

    .active {
        background-color: transparent;
    }

}